# Ignore compiled C++ binaries
a.out
*.out
*.exe

# Ignore binaries without extension (like q1, q2)
q1
q2

# Or ignore ALL files with no extension (BEST OPTION)
*

# Allow folders
!*/

# Allow C++ source files
!*.cpp

# Allow gitignore itself
!.gitignore

# OS junk
.DS_Store
